
section{
    margin-bottom: 30px;
}

[class*="col-"]:not([class*="col-offset-"]){
    background-color: #055ed2;
    height: 70px;

    padding:20px;

    border: 1px solid white;

    color:white;
    text-align: center;
}

[class*="col-"] [class*="col-"]{
    background-color: #00e165;
    height: 100%;
    padding-top:5px;
    border-color:#055ed2;
}

.container{
    width: calc(100% / 12 * 6);

}

.row > .container:first-of-type [class*="col-"]:not([class*="col-offset-"]){
    height: 140px;
}
